tornado>=4.3.0

# extra support
flask

# test requirements
selenium==3.*
percy-python-selenium
coverage

# doc building requirements
git+https://github.com/djungelorm/sphinx-tabs.git@master#egg=sphinx-tabs