.container {
    margin: 45px auto;
    max-width: 880px;
    min-height: calc(100vh - 70px);
}

.footer {
    height: 50px;
    text-align: center;
    color: gray;
    background-color: #efefef;
    line-height: 50px; /*设置line-height与父级元素的height相等, 以实现垂直居中*/
    margin: 0 auto;
}

.footer hr {
    margin-bottom: 0.5rem;
}

.footer a:visited {
    color: #9B59B6;
}

.footer a {
    color: #2980B9;
    text-decoration: none;
    cursor: pointer;
}

#input-container {
    margin-top: 20px;
}

#title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.markdown-body blockquote, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
    margin-bottom: 10px;
}

.CodeMirror {
    font-size: 13px
}

.mditor {
    height: 400px;
    width: auto;
}

/*非固定行高模式*/
.no-fix-height {
    margin-top: 20px;
}

.no-fix-height .mditor {
    height: initial;
    padding-top: 0;
    border: 0;
}

.no-fix-height .mditor .body {
    height: initial;
    box-shadow: unset;
}

.no-fix-height .mditor .viewer {
    height: initial;
    padding-bottom: 20px;
}

.no-fix-height .mditor .head {
    display: none;
}

.no-fix-height #input-container {
    margin: 0 10px;
}

.no-fix-height #input-container h5.card-header {
    padding: .4rem 1.25rem;
}

h5.card-header:empty {
    padding: 0 !important;
    border-bottom: 0 !important;
}

button {
    margin-bottom: 8px;
}

.input-container .form-group {
    margin-bottom: 0;
}

img {
    -webkit-animation-name: image-load-in;
    animation-name: image-load-in;
    -webkit-animation-duration: .6s;
    animation-duration: .6s
}

@-webkit-keyframes image-load-in {
    0% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes image-load-in {
    0% {
        -webkit-filter: blur(8px);
        filter: blur(8px);
        opacity: 0
    }
    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

.custom-file {
    margin-bottom: 8px;
}