<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="icon" type="image/png" sizes="32x32" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAwklEQVQ4T63TvU5CQRCG4WcwMfEuqOgNtQ2Nd4CxV2LHtVhJ0N7AHdjQUBtrrLwLA4ks2Rx+/Qucw3Y78807M7sz4ft5dq6mI7RQX7o/JCNzfdfetkNifRk6k9wLN9jYdxMkyZPQ1faZXYUwB/OCix8V/W4Y4zJDCsBAX7jdM7iQJY+udELu+cTrP2X/xU2+NMPAg3B3UPaVOOmFoQkapQC8Z8AUpyUBs6MAKrZQ+RErf2PlQTrKKK8gpZdpewgOXOcFTTxEjYwMoIkAAAAASUVORK5CYII=" id="favicon32">
    <link rel="icon" type="image/png" sizes="16x16" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABmUlEQVRYR82XK0wDQRCGv21TUUUJGBwGDBggGCSGBIcAWnBAgsNAgkKhSMDgCA8HtEXgSDBIDC9DDRgcpoSiKo52yea49DiutMttsz27M/98N7s7OyNo9tujgxSTwDiCIaAXSH27l4AXJA/AFSUuWOajGWnR0ChLP3HWkWSAZEN716CM4JQKW6R5+sunPkCeJJJNBCtAosnAQTMHyS6CDWYoh2mEAxzTR4JzYOCfgYNuBRymmOc5uPAbIMswMS6BbkPBPZkiVSZIc+/X/Qng/vl1C4LXIBzG/JmoAag9hxuDaa+XwAIw6p2JGkCObQSrhtMeLifZYZY1tegCqKsW4zHCadfldqgyqK6oC3DGIZIFXZVI9oIjplkUqArXyatGkYkU1+dc5p0eQY4MghNTqlo6kjkFsI9gScvRlLHkQJDnFhgxpampc6cAikCXpqMp8zcF8AnETSlq6lTaAsD6Flg+hNavofVCZL0UW3+M2uI5VhBWGxIFYL0lUxBWm1KviFttyz0Iq4OJB2F1NPO/qdaG0+DD3qLx/AuMVJFhmC8dSgAAAABJRU5ErkJggg==" id="favicon16">
    {% raw manifest %}
    <link rel="stylesheet" href="{{ base_url }}css/markdown.min.css">
    <link rel="stylesheet" href="{{ base_url }}css/codemirror.min.css">
    <link rel="stylesheet" href="{{ base_url }}css/toastify.min.css">
    <link rel="stylesheet" href="{{ base_url }}css/bs-theme/{{ theme }}.min.css">
    <link rel="stylesheet" href="{{ base_url }}css/bootstrap-select.min.css">
    <link rel="stylesheet" href="{{ base_url }}css/app.css?v={{ version }}">
    {% for css in css_file %}
        {% if css %}<link rel="stylesheet" href="{{ css }}">{% end %}
    {% end %}
    {% if css_style %}
    <style>{% raw css_style %}</style>
    {% end %}
</head>
<body class="webio-theme-{{ theme }}">
<div class="pywebio">
    <div class="container no-fix-height" id="output-container">
        <div class="markdown-body" id="markdown-body">
            <div class="text-center" id="pywebio-loading" style="display: none; position: fixed; top: 40%; left: 0;right: 0;">
                <div class="spinner-grow text-info" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

            <div id="pywebio-scope-ROOT">{% raw content %}</div>
        </div>
        <div id="end-space"></div>

    </div>

    <div id="input-container">
        <div id="input-cards" class="container"></div>
    </div>
</div>

<script src="{{ base_url }}js/mustache.min.js"></script>  <!--template system-->
<script src="{{ base_url }}js/codemirror.min.js"></script>  <!--code textarea editor-->
<script src="{{ base_url }}codemirror/addons.js"></script> <!--codemirror addons: matchbrackets, python mode, active line, auto refresh, mode/meta and loadmode -->
<script src="{{ base_url }}js/prism.min.js"></script>  <!-- markdown code highlight -->
<script src="{{ base_url }}js/FileSaver.min.js"></script>  <!-- saving files on the client-side -->
<script src="{{ base_url }}js/jquery.min.js"></script>
<script src="{{ base_url }}js/popper.min.js"></script>  <!-- tooltip engine -->
<script src="{{ base_url }}js/bootstrap.min.js"></script>
<script src="{{ base_url }}js/toastify.min.js"></script> <!-- toast -->
<script src="{{ base_url }}js/bs-custom-file-input.min.js"></script> <!-- bootstrap custom file input-->
<script src="{{ base_url }}js/purify.min.js"></script>  <!-- XSS sanitizer -->
<script src="{{ base_url }}js/bootstrap-select.min.js"></script>
<script>
    if (window.navigator.userAgent.indexOf('MSIE ') !== -1 || window.navigator.userAgent.indexOf('Trident/') !== -1)
        $('#output-container').html('<div class="alert alert-danger" role="alert"> Sorry, this website does not support IE browser. ☹ </div>');
</script>
<script src="{{ base_url }}js/pywebio.min.js?v={{ version }}"></script>
{% for js in js_file %}
    {% if js %}<script src="{{ js }}"></script>{% end %}
{% end %}
{% if script %}
<script src="{{ base_url }}js/require.min.js"></script> <!-- JS module loader -->

<script>
    if (window.WebIO === undefined) { // resource load failed
        let url = new URL(window.location.href);
        if (url.searchParams.get('_pywebio_cdn') === 'false') {
            alert("Failed to load resource")
        } else {
            url.searchParams.set('_pywebio_cdn', 'false');
            window.location.href = url.href;
        }
    }

    require.config({
        paths: {
            'plotly': "https://cdn.plot.ly/plotly-2.12.1.min",
            "ag-grid": "https://unpkg.com/ag-grid-community@28.2.0/dist/ag-grid-community.min",
            "ag-grid-enterprise": "https://unpkg.com/ag-grid-enterprise@28.2.0/dist/ag-grid-enterprise.min",
        },
    });


    $(function () {
        // https://www.npmjs.com/package/bs-custom-file-input
        bsCustomFileInput.init()
    });

    const urlparams = new URLSearchParams(window.location.search);
    WebIO.startWebIOClient({
        output_container_elem: $('#markdown-body'),
        input_container_elem: $('#input-cards'),
        backend_address: urlparams.get('pywebio_api') || '',
        app_name: urlparams.get('app') || 'index',
        protocol: "{{ protocol }}",
        runtime_config: {
            debug: urlparams.get('_pywebio_debug'),
            outputAnimation: !urlparams.get('_pywebio_disable_animate'),
            httpPullInterval: parseInt(urlparams.get('_pywebio_http_pull_interval') || 1000)
        },
    });
</script>
{% end %}
{% if js_code %}
<script>{% raw js_code %}</script>
{% end %}

<footer class="footer">
    Powered by <a href="https://www.pyweb.io/" target="_blank">PyWebIO</a>
</footer>
</body>
</html>